---
layout: 2017_default
permalink: /charges
title: 料金とキャンセル時の対応について
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

      <h2 class="first">参加費</h2>
      <p>約13000円</p>
      <ul>
        <li>上記は全日程参加の場合の金額です。当日に支払う、打ち上げでの飲食費やケーリー参加費も含みます。</li>
        <li>部分参加の場合は、参加するプログラムによって金額が異なります。</li>
        <li>料金の詳細は<a href="https://passmarket.yahoo.co.jp/event/show/detail/011d9z109rpy2.html">こちら</a>をご覧ください。</li>
      </ul>
      <h2 class="first">注意事項</h2>
      <ul>
        <li>Yahoo! JAPANのデジタルチケットサービス「PassMarket」による申し込みとなりました。上記リンクからPassMarketにアクセスし申し込みをお願いいたします。決済方法はクレジットカード決済とコンビニ決済がお使いいただけます。詳しくは<a href="https://blog-passmarket.yahoo.co.jp/archives/purchase.html">PassMarket - チケットの買い方を知りたい</a>をご覧ください。</li>
        <li>部分参加の場合は、参加するプログラムによって金額が異なります。詳しくはPassMarketをご覧ください。</li>
      </ul>

      {% if site.data.charge %}
      <h2 class="first">個別参加費</h2>
      <table class="agenda">
        <thead>
          <tr>
            <th class="row-1 agenda-time"><center> </center></th>
            <th class="row-2 agenda-activity"><center>学生+20歳以下の料金</center></th>
            <th class="row-2 agenda-activity"><center>一般の方の料金</center></th>
          </tr>
        </thead>
        {% for event in site.data.charge %}
        <tr>
          <td>{{event.name}}</td>
          <td>{{event.student}}</td>
          <td>{{event.other}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

      <h2 class="first">キャンセルに関して</h2>

      <ul>
        <li>9/1以降のキャンセルは返金できません。
            <br>お早めにinfo@icf-shamrock.comまでご連絡ください。</li>
      </ul>

    </div>
