---
layout: 2017_default
permalink: /charges
title: 料金とキャンセル時の対応について
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

      <h2 class="first">参加費</h2>

      <p>未定</p>

      <h2 class="first">注意事項</h2>
      <ul>
        <li>今年度はPassMarketによる申し込みを予定しています。決まり次第このページで告知いたしますのでお待ちください。</li>
        <li>前泊日(10日)の夕食は各自でとって頂きます。</li>
        <li>部分参加の場合は、参加するプログラムによって金額が異なります。</li>
        <li>開催日直前のキャンセルに関してはキャンセル料を申し受けます。ご了承ください。</li>
      </ul>


      {% if site.data.charge %}
      <h2 class="first">個別参加費</h2>
      <table class="agenda">
        <thead>
          <tr>
            <th class="row-1 agenda-time"><center> </center></th>
            <th class="row-2 agenda-activity"><center>学生+20歳以下の料金</center></th>  
            <th class="row-2 agenda-activity"><center>一般の方の料金</center></th>  
          </tr>
        </thead>
        {% for event in site.data.charge %}
        <tr>
          <td>{{event.name}}</td>
          <td>{{event.student}}</td>
          <td>{{event.other}}</td>
        </tr>           
        {% endfor %}
      </table>
      {% endif %}

      <h2 class="first">キャンセルに関して</h2>

      <ul>
        <li>申し込み後の変更・キャンセルは原則できません。どうしてもの場合はご相談ください。</li>
        <li>お振込いただいた料金はご返金できませんのでご了承ください。</li>
      </ul>

    </div>
