---
layout: 2017_default
permalink: /faqs
title: FAQ よくあるご質問
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1 class="title">{{ page.title }}</h1>
      <p>申し込み前に参加者の方からよくいただくご質問をまとめました。<p>

      {% for section in site.data.faqs %}
      <h2 class="first">{{ section.section_name }}</h2>
        <ol>
          {% for faq in section.faqs %}
          <li><b>{{ faq.question }}</b>
            <br>{{ faq.answer }}<br><br>
          </li>
          {% endfor %}
        </ol>
      {% endfor %}


        <p>もしこれ以外にご質問があれば、お気軽に <a href="/#contacts">contact us</a> のフォームから、もしくは <a href="mailto:info@icf-shamrock.com">info@icf-shamrock.com</a> までメールでお問い合わせください。</p>
    </div>
