---
layout: 2017_default
permalink: /schedule
title: スケジュール
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>
      <p>当日のスケジュール</p>

      {% for day in site.data.schedule %}
      <h2>{{day.title}} | {{day.date}}</h2>
        <table class="agenda">
            <thead>
            <tr>
                <th class="row-1 agenda-activity"><center>時間</center></th>
                <th class="row-1 agenda-activity"><center>名前</center></th>  
                <th class="row-2 agenda-time"><center>説明</center></th>  
            </tr>
            </thead>
            {% for event in day.events %}
            <tr>
              <td>{{event.date}}</td>
              <td>{{event.title}}</td>
              <td>{{event.description}}</td>
            </tr>           
            {% endfor %}
        </table>
        {% endfor %}

    </div>
