---
layout: 2017_default
permalink: /schedule
title: スケジュール・宿泊について
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>


    <div class="event black-frame">
      <h1>{{ page.title }}</h1>
      <p>第13回の大まかなスケジュールです！</p>


      {% for day in site.data.schedule %}
      <h2>{{day.title}} | {{day.date}}</h2>
        <table class="agenda">
            <thead>
            <tr>
                <th class="row-1 agenda-activity"><center>時間</center></th>
                <th class="row-1 agenda-activity"><center>項目</center></th>
                <th class="row-2 agenda-time"><center>説明</center></th>
            </tr>
            </thead>
            {% for event in day.events %}
            <tr>
              <td>{{ event.date }}</td>
              {% if event.hover %}
                <td><a href="#{{ event.hover }}" data-toggle="modal" data-target="#{{ event.hover }}">{{ event.title }}</a></td>
              {% elsif event.href %}
                <td><a href="{{ event.href }}">{{event.title}}</a></td>
              {% else %}
                <td>{{event.title}}</td>
              {% endif %}
              <td>{{ event.description }}</td>
            </tr>
            {% endfor %}
        </table>
      {% endfor %}



      <p>※宿泊は9,10,11日の夜、部屋は1人部屋と4人部屋がございます。特に1人部屋を希望される方は、先着順となりますので、早めに申し込みいただくようよろしくお願いいたします。</p>
    </div>

    {% include 2017_data/classes_info.html %}

