---
layout: 2017_default
permalink: /schedule
title: スケジュール・宿泊について
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>
      <p>第10回ICFのスケジュールはまだ未定です。参考までに、前回の第9回ICFのスケジュールは以下のようでした。</p>

      {% for day in site.data.schedule %}
      <h2>{{day.title}} | {{day.date}}</h2>
        <table class="agenda">
            <thead>
            <tr>
                <th class="row-1 agenda-activity"><center>時間</center></th>
                <th class="row-1 agenda-activity"><center></center></th>  
                <th class="row-2 agenda-time"><center>説明</center></th>  
            </tr>
            </thead>
            {% for event in day.events %}
            <tr>
              <td>{{event.date}}</td>
              <td>{{event.title}}</td>
              <td>{{event.description}}</td>
            </tr>           
            {% endfor %}
        </table>
      {% endfor %}


      <h2>宿泊に関する注意事項</h2>
      <p>11日（開催前日）、12日、13日の晩にオリンピックセンターに宿泊することができます。</p>
      <p>なお宿泊のお部屋数に限りがございます。宿泊に関しては先着で受付致しますので、ご希望の方はお早めにお申し込みください。</p>
      <p>また、宿泊のお部屋は原則相部屋となっております。希望者のみ個室もございますが、11日は男女10名ずつ、12日、13日は男女15名ずつのみと数が限られておりますのでお早めにお申込み下さい。</p>
      <p>前泊者用に11日の夜間、オリンピックセンターの小練習室を予約しております。セッション、ご歓談に是非ご利用ください！前日から楽しみましょう！</p>
    </div>

