<!-- Portfolio Grid Section -->
    <section id="beginner" class="bg-light-gray speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">For Beginner <br>はじめての方へ</h2>
                    <h3 class="section-subheading text-muted">ここではICFがはじめての人に向けて簡単にICFがどんなイベントなのかを解説しています。</h3>
                    <p><font color="red">こちらの情報は例年のものになります。<br>今年度はコロナウイルス感染拡大防止のため、初のオンライン開催となりますので内容が異なります。ご了承ください。</font></p>
                    <p>ICFとは、アイリッシュ音楽の演奏や、ダンスについての技術、知識を教わったりできる場です。<br>プロの講師の方に教えてもらったり、学生から社会人までの幅広い参会者同士で技術や知識を共有しあったりすることできっと演奏やダンスに関する悩みを解消できます！<br>
                    また、アイリッシュという国内ではまだまだマイナーな音楽を楽しむ学生たちが一堂に集まり仲良くなれるレアな場でもあります。今回のICFでは今まで知らなかった分野の音楽にも触れることができるので新たに興味のあるものを見つける方もいるかもしれません。</p>
                    <p>過去のICFの様子が知りたい方は<a href="/past">こちら</a></p>
                    <p>チケット購入はPassmarketというサービスを用いて受け付けております。<br>お申し込みは<s>こちら</s><font color = red>coming soon</font><br>
                        <br>締め切りは2020/2/20(Sun)です。</p>


                </div>
            </div>

            <div class="row">

          <!--    {% for section in site.data.classes %}
              <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">

                <a href="#{{ section.type }}" class="speakers-link" data-toggle="modal" data-target="#{{ section.type }}">
                  <div class="speakers-hover">
                    <div class="speakers-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="{{ section.image }}" class="img-responsive img-centered">
                </a>

                <div class="speakers-caption-gray">
                  <a data-toggle="modal" data-target="#{{ section.type }}"><h4>{{ section.title }}</h4></a>
                  <p class="text-muted">{{ section.description }}</p>
                </div>

              </div>
              {% endfor %}  -->

            </div>



            </div>
        </div>
    </section>

