<!-- Portfolio Grid Section -->
    <section id="beginner" class="bg-light-gray speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">For Beginner <br>はじめての方へ</h2>
                    <h3 class="section-subheading text-muted">ここではICFがはじめての人に向けて簡単にICFがどんなイベントなのかを解説しています。</h3>
                    <p>ICFとは、アイリッシュ音楽の演奏や、ダンスについての技術、知識を教わったりできる場です。<br>プロの講師の方に教えてもらったり、学生から社会人までの幅広い参会者同士で技術や知識を共有しあったりすることできっと演奏やダンスに関する悩みを解消できます！<br>
                    また、アイリッシュという国内ではまだまだマイナーな音楽を楽しむ学生たちが一堂に集まり仲良くなれるレアな場でもあります。今回のICFでは今まで知らなかった分野の音楽にも触れることができるので新たに興味のあるものを見つける方もいるかもしれません。</p>
                    <p>過去のICFの様子が知りたい方は<a href="/past">こちら</a></p>
                    <p>チケット購入はPassmarketというサービスを用いて受け付けております。<br>お申し込みは<a href=https://passmarket.yahoo.co.jp/event/show/detail/025u5cmwf3021.html>こちら</a><br>
                        <br>締め切りは2022/2/9(Wed)です。
                        <br>参加される方は<a href="../css/2017_style/感染症対策ガイドライン.pdf">感染症対策ガイドライン</a>のご確認をお願いいたします。</p>


                </div>
            </div>

            <div class="row">

          <!--    {% for section in site.data.classes %}
              <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">

                <a href="#{{ section.type }}" class="speakers-link" data-toggle="modal" data-target="#{{ section.type }}">
                  <div class="speakers-hover">
                    <div class="speakers-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="{{ section.image }}" class="img-responsive img-centered">
                </a>

                <div class="speakers-caption-gray">
                  <a data-toggle="modal" data-target="#{{ section.type }}"><h4>{{ section.title }}</h4></a>
                  <p class="text-muted">{{ section.description }}</p>
                </div>

              </div>
              {% endfor %}  -->

            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="speakers-caption" style="">
                  <h4>注意事項</h4>
                  <p class="text-muted">※楽器は原則各自でお持ちください。楽器をお持ちでなく、楽器クラスの受講を希望される方は、比較的安価で手に入れることのできるティンホイッスルのご購入をお勧めします。</p>
                  <p class="text-muted">※聴講の場合でも通常参加と同料金を頂戴いたします。聴講希望の方は、申し込みの際に備考欄に記入をお願いします。</p>
                  <p class="text-muted">※受講できる人数に限りのあるクラスがございます。申し込みの早い人から受付いたしますので、ご希望の方はお早めにお申し込みください。</p>
                </div>
              </div>

            </div>
        </div>
    </section>

