<!-- Portfolio Grid Section -->
    <section id="classes" class="bg-light-gray speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Classes</h2>
                    <h3 class="section-subheading text-muted">クラスの紹介</h3>
                </div>
            </div>
            <div class="row">

              <!-- 1 -->
                <div class="col-md-4 col-sm-6 speakers-item">
                    <a href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-hover">
                            <div class="speakers-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../css/2017_style/img/classes/instrument.jpg" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="speakers-caption">
                        <h4>1,2日目午前: 楽器別クラス</h4>
                        <p class="text-muted">各楽器に分かれてのクラスです。</p>
                    </div>
                </div>
              <!-- end of 1 -->

              <!-- 2 -->
                <div class="col-md-4 col-sm-6 speakers-item">
                    <a href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-hover">
                            <div class="speakers-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../css/2017_style/img/classes/instrument.jpg" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="speakers-caption">
                        <h4>3日目午前: セッションクラス</h4>
                        <p class="text-muted">講師陣とセッションを行う形でのクラス。</p>
                    </div>
                </div>
              <!-- end of 2 -->

              <!-- 2 -->
                <div class="col-md-4 col-sm-6 speakers-item">
                    <a href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-hover">
                            <div class="speakers-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../css/2017_style/img/classes/instrument.jpg" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="speakers-caption">
                        <h4>3日目午前: テーマ別クラス</h4>
                        <p class="text-muted">楽器を混ぜて、ある一つのテーマに絞った形の講座です</p>
                    </div>
                </div>
              <!-- end of 2 -->

              <!-- 4 -->
                <div class="col-md-4 col-sm-6 speakers-item">
                    <a href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-hover">
                            <div class="speakers-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../css/2017_style/img/classes/dance.jpg" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="speakers-caption">
                        <h4>1,2日目午後: ダンスクラス</h4>
                        <p class="text-muted">ダンスをします</p>
                    </div>
                </div>
              <!-- end of 4 -->
            </div>
        </div>
    </section>
