 <!-- Portfolio Modals -->
 {% for section in site.data.classes %}
 <div class="portfolio-modal modal fade" id="{{ section.type }}" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
     <div class="close-modal" data-dismiss="modal">
       <div class="lr">
         <div class="rl">
         </div>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2">
           <div class="modal-body">

             <h1>{{ section.title }} </h1>
             {% if section.description_detail %}
             <p>{{ section.description_detail }}</p>
             {% endif %}

             <hr class="star-primary">
             <img src="../css/2017_style/img/speaker/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">

             {% for class in section.classes %}
               <div style="margin: 5em 0em;">
               <h2>{{ class.name }}</h2>
               <hr class="star-primary">

               {% if class.all %}
                 {% if section.all %}
                   <h4>{{ section.all }}:</h4>
                 {% endif %}
                 <p>{{ class.teacher }}
                 {% if class.web %} (<a href="{{ class.web }}">web</a>) {% endif %}
                 </p>
                 {% if class.best_for %}
                 <h4>対象者</h4>
                 <p>{{ class.best_for }}</p>
                 {% endif %}
                 <p>{{ class.description }}</p>
               {% else %}

                 {% if class.first %}
                   <h4>{{ section.first }}: {{ class.first.title }}</h4>
                   <p>{{ class.first.teacher }}
                   {% if class.first.web %} (<a href="{{ class.first.web }}">web</a>) {% endif %}
                   </p>
                   {% if class.first.best_for %}
                   <h4>対象者</h4>
                   <p>{{ class.first.best_for }}</p>
                   {% endif %}
                   <p>{{ class.first.description }}</p>
                 {% endif %}

                 {% if class.second %}
                   <h4>{{ section.second }}: {{ class.second.title }}</h4>
                   <p>{{ class.second.teacher }}
                   {% if class.second.web %} (<a href="{{ class.second.web }}">web</a>) {% endif %}
                   </p>
                   {% if class.second.best_for %}
                   <h4>対象者</h4>
                   <p>{{ class.second.best_for }}</p>
                   {% endif %}
                   <p>{{ class.second.description }}</p>
                 {% endif %}

               {% endif %}


               {% if class.html %}
                 <h4>課題曲</h4>
                 {{ class.html }}
               {% endif %}
               </div>
             {% endfor %}

             {% if section.notes %}
               <hr class="star-primary">
               <h2>注意事項</h2>
               {% for note in section.notes %}
               <h3>{{ note.title }}</h3>
                 {% for text in note.text %}
                   <p>{{ text.body }}</p>
                 {% endfor %}
               {% endfor %}
             {% endif %}

             <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 閉じる</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 {% endfor %}
