<!-- Portfolio Grid Section -->
    <section id="classes" class="bg-light-gray speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Classes</h2>
                    <h3 class="section-subheading text-muted">ICFでは講師の方をお招きしてアイルランドの伝統音楽・ダンスについての講座を開講しています。<br>詳細は画像をクリックしてください。</h3>
                </div>
            </div>

            <div class="row">

              {% for section in site.data.classes %}
              <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">

                <a href="#{{ section.type }}" class="speakers-link" data-toggle="modal" data-target="#{{ section.type }}">
                  <div class="speakers-hover">
                    <div class="speakers-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="{{ section.image }}" class="img-responsive img-centered">
                </a>

                <div class="speakers-caption-gray">
                  <a data-toggle="modal" data-target="#{{ section.type }}"><h4>{{ section.title }}</h4></a>
                  <p class="text-muted">{{ section.description }}</p>
                </div>

              </div>
              {% endfor %}

            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="speakers-caption" style="">
                  <h4>注意事項</h4>
                  <p class="text-muted">※楽器は原則各自でお持ちください。楽器をお持ちでなく、楽器クラスの受講を希望される方は、比較的安価で手に入れることのできるティンホイッスルのご購入をお勧めします。ティンホイッスルに関しては数本のみ貸し出しも受付致しますのでご相談ください。</p>
                  <p class="text-muted">※聴講の場合でも通常参加と同料金を頂戴いたします。聴講希望の方は、申し込みの際に備考欄に記入をお願いします。</p>
                  <p class="text-muted">※受講できる人数に限りのあるクラスがございます。申し込みの早い人から受付いたしますので、ご希望の方はお早めにお申し込みください。</p>
                </div>
              </div>

            </div>
        </div>
    </section>

