<!-- Portfolio Grid Section -->
    <section id="events" class="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">ICF期間内には、初めて来た方にも毎年来ていただいている方にも楽しんでいただけるように、参加者同士の交流を深めるイベントを複数用意しています！</h3>
                </div>
            </div>
            <div class="row" style="display: flex; flex-wrap: wrap;">

              <!-- カードtop プチICF -->
                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-cover-image" data-text="Party&Session">
                            <img src="../css/2017_style/img/dance2.jpg" class="img-responsive img-centered" alt="">
                        </div>
                    </div>
                    <div class="speakers-caption">
                        <h4>3/10夜の部：交流会＆セッション</h4>
                        <p class="text-muted">参加者同士でレクリエーションを通して交流を深める交流会と参加者みんなでのセッションの時間です！レクリエーションの内容は当日までのお楽しみです！セッションでは、初心者が参加しやすいように、事前にセッションに登場する可能性が高い曲を共有します！SNSや参加者ホームページで紹介する予定なので、確認して、参考にしてみてください。ぜひ、セッションの楽しい雰囲気を味わってみてください！ </p>
                    </div>
                </div>


                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-cover-image" data-text="Concert">
                            <img src="../css/2017_style/img/dance2.jpg" class="img-responsive img-centered" alt="">
                        </div>
                    </div>
                    <div class="speakers-caption">
                        <h4>3/11午後の部：講師ライブ&有志ライブ</h4>
                        <p class="text-muted">豪華講師陣によるライブパフォーマンスのあとは、有志ライブの時間です！全国各地から多くの学生が集まっているので、ぜひ色々な学生に声をかけて、バンドを組んで演奏してみましょう！きっと一期一会の出会いが待っています！</p>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 speakers-item">
                    <div class="speakers-link" data-toggle="modal">
                      <div class="speakers-cover-image" data-text="Ceili">
                          <img src="../css/2017_style/img/dance2.jpg" class="img-responsive img-centered" alt="">
                      </div>
                    </div>
                    <div class="speakers-caption">
                        <h4>3/11夜の部・3/12午後の部：Ceili By Toyota Ceili Band＆Megane Ceili Band</h4>
                        <p class="text-muted">ケーリー Ceili はアイルランド語で「ダンスと音楽のつどい」の意味。3/11の夜にはToyota Ceili Bandによるケーリー、3/12の午後にはMegane Ceili Bandによるケーリーを開催します。</p>
                        <p class="text-muted">みんな大好き定番Toyota Ceili Bandのケーリーには一般のお客さんもたくさんいらっしゃいます。色々な人に声をかけて楽しみましょう！また、3/10の午後に開催するダンスクラスで扱ったセットも踊ったり、初心者の方が参加しやすいような工夫も施す予定なので、多くの皆様のご参加をお待ちしております！新進気鋭のMegane Ceili Bandのケーリーは、ICF2022の最後のプログラムなので、良い締めくくりとなるよう生演奏で大いに盛り上げます！</p>
                        <p class="text-muted">聞いていてもおしゃべりしても踊っても楽しい、そんなケーリーの魅力を、雰囲気の違う2つの豪華ケーリーバンドの伴奏にのせてぜひ味わってください！</p>
                    </div>
                </div>

            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="speakers-caption" style="">
                  <h4>注意事項</h4>
                  <p class="text-muted">・ケーリーに参加する際は、必ずPCR検査または抗原検査、抗体検査などをご自身で行っていただき、受付の際に陰性証明をご提示ください。</p>
                  <p class="text-muted">・ケーリーの参加費は、当日受付の際に支払っていただきます。2つのケーリーはそれぞれ値段が異なりますので、ご注意ください。→Toyota Ceili Band 1500円→メガネ Ceili Band  500円</p>
                  <p class="text-muted">・ケーリー中は、できるだけマスクを着用していただくようお願いしております。</p>
                  <p class="text-muted">・ダンスを踊る際は、手袋の着用をお願いいたします。（100均などでご購入いただけます）</p>
                </div>
              </div>

            </div>
        </div>
    </section>
