<!-- Portfolio Grid Section -->
    <section id="events" class="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">ICF期間内には、初めて来た方にも毎年来ていただいている方にも楽しんでいただけるように、参加者同士の交流を深めるイベントを複数用意しています！</h3>
                </div>
            </div>
            <div class="row" style="display: flex; flex-wrap: wrap;">

              <!-- カードtop プチICF -->
                <div class="col-md-12 col-sm-12 col-xs-12 speakers-item">
                    <div class="speakers-link" data-toggle="modal">
                      <div class="speakers-cover-image" data-text="Ceili">
                          <img src="../css/2017_style/img/dance2.jpg" class="img-responsive img-centered" alt="">
                      </div>
                    </div>
                    <div class="speakers-caption">
                        <h4>9/16午後の部・9/18午後の部：Ceili By Toyota Ceili Band＆Necoze  Ceili Band</h4>
                        <p class="text-muted">ケーリー Ceili はアイルランド語で「ダンスと音楽のつどい」の意味。9/16午後にはToyota Ceili Bandによるケーリー、9/18午後にはNecoze Ceili Bandによるケーリーを開催します。</p>
                        <p class="text-muted">参加人数国内最大級！みんな大好き定番Toyota Ceili Bandのケーリーでは一般のお客さんもたくさんいらっしゃいます。色々な人に声をかけて楽しみましょう！新進気鋭のNecoze Ceili Bandのケーリーではクラスで覚えたダンスを生演奏で盛り上げます。クラスとは違い、踊る相手は１セットごとに参加者一人一人が決めていきます。</p>
                        <p class="text-muted">聞いていてもおしゃべりしても踊っても楽しい、そんなケーリーの魅力を、雰囲気の違う2つの豪華ケーリーバンドの伴奏にのせてぜひ味わってください！</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-cover-image" data-text="Dinner">
                            <img src="../css/2017_style/img/dance2.jpg" class="img-responsive img-centered" alt="">
                        </div>
                    </div>
                    <div class="speakers-caption">
                        <h4>9/16夜の部：ごはん交流</h4>
                        <p class="text-muted">オリンピックセンター内のレストラン「とき」にてごはんを食べながら親交を深めましょう。会計はテーブルごとでおよそ1000円～2000円。</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-cover-image" data-text="Concert">
                            <img src="../css/2017_style/img/dance2.jpg" class="img-responsive img-centered" alt="">
                        </div>
                    </div>
                    <div class="speakers-caption">
                        <h4>9/17朝の部：講師ライブ</h4>
                        <p class="text-muted">ダンスクラスのあとは豪華講師陣によるライブパフォーマンス。</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-cover-image" data-text="Party&Session">
                            <img src="../css/2017_style/img/dance2.jpg" class="img-responsive img-centered" alt="">
                        </div>
                    </div>
                    <div class="speakers-caption">
                        <h4>9/17夜の部：交流会＆セッション</h4>
                        <p class="text-muted">参加者同士でレクリエーションをして交流を深める交流会と参加者みんなでのセッション。せっかく全国から学生が集まっているのだから、セッションをしよう！お互いのサークルで流行りの曲を紹介しあうのもよし、一期一会の出会いを楽しむのもよし。レクの内容は当日のお楽しみ！ </p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <div class="speakers-cover-image" data-text="After Party">
                            <img src="../css/2017_style/img/dance2.jpg" class="img-responsive img-centered" alt="">
                        </div>
                    </div>
                    <div class="speakers-caption">
                        <h4>9/18夜：打ち上げ</h4>
                        <p class="text-muted">都内のアイリッシュパブで打ち上げ！</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
