 <!-- Portfolio Modals -->
 <div class="portfolio-modal modal fade" id="petit" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
     <div class="close-modal" data-dismiss="modal">
       <div class="lr">
         <div class="rl">
         </div>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2">
           <div class="modal-body">

             <div style="margin: 10px;">
               <h1>プチICF</h1>
               <p>今年もプチICFを開催します！本イベントも半年後に控える9月、皆で本番に備え集まりましょう！</p>
               <ul>
                 <li>日時：2018年9月22日(土)</li>
               </ul>

               <h2>午前の部: プチICF</h2>
               <ul>
                 <li>時間：9:15～12:00</li>
                 <li>場所：国立オリンピック記念青少年総合センター中練習室41</li>
                 <li>内容：セッション、ダンス、レクリエーション(From アイルランドの豪華景品あり)など… </li>
                 <li>参加費：500円</li>
               </ul>
               <h2>夜の部: 打ち上げ</h2>
               <p>ケーリー終了後、近くのお店に移動して打ち上げを行います。</p>

               <p>申し込みは2018年8月31日をもって締め切りました。</p>
               <center><a href="https://docs.google.com/forms/d/e/1FAIpQLSdslpVE3_SS1rYPaRB715sPZ2n7_0VB2IKdn1XeBSUaREoFpA/viewform" class="page-scroll btn btn-xl disabled">プチICF お申し込み</a></center>
             </div>

             <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 閉じる</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
