<!-- Portfolio Grid Section -->
    <section id="events" class="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">ICF期間内には、初めて来た方にも毎年来ていただいている方にも楽しんでいただけるように、参加者同士の交流を深めるイベントを複数用意しています！</h3>
                </div>
            </div>
            <div class="row" style="display: flex; flex-wrap: wrap;">

              <!-- カードtop プチICF -->
                <div id="" class="col-md-12 col-sm-12 col-xs-12 speakers-item">
                    <a href="#petit" class="speakers-link" data-toggle="modal">
                      <div class="speakers-hover">
                        <div class="speakers-hover-content">
                          <i class="fa fa-plus fa-3x"></i>
                        </div>
                      </div>
                      <div class="speakers-cover-image" data-text="Petit ICF">
                        <img src="../css/2017_style/img/sessiondance.jpg" class="img-responsive img-centered" alt="">
                      </div>
                    </a>
                    <div class="speakers-caption">
                        <h4>事前イベント: プチICF</h4>
                        <p class="text-muted">毎年恒例プチICFは9/22に大盛況で無事開催できました。ご来場ありがとうございました。</p>
                    </div>
                </div>

              <!-- カード3 交流会 -->
                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <img src="../css/2017_style/img/party.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="speakers-caption">
                        <h4>3/12 昼の部: 講師ライヴ・交流会・ミニケーリー</h4>
                        <p class="text-muted">講師によるライブパフォーマンスと、参加者同士でレクリエーションをして交流を深める交流会。内容は当日のお楽しみ！</p>
                    </div>
                </div>

              <!-- カード3 交流会 -->
                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <img src="../css/2017_style/img/session.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="speakers-caption">
                        <h4>3/13 朝の部: 学生ホストセッション</h4>
                        <p class="text-muted">せっかく全国から学生が集まっているのだから、セッションをしよう！お互いのサークルで流行りの曲を紹介しあうのもよし、一期一会の出会いを楽しむのもよし。</p>
                    </div>
                </div>

              <!-- カード1 ケーリー -->
                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <img src="../css/2017_style/img/ceili_01.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="speakers-caption">
                        <h4>3/12 夜の部: Special Ceili By Toyota Ceili Band</h4>
                        <p class="text-muted">ケーリー Ceili はアイルランド語で「ダンスと音楽のつどい」の意味。2日目の夜にはToyota Ceili Bandによるケーリーを開催します。</p>
                        <p class="text-muted">ケーリーでは、クラスで覚えたダンスをToyota Ceili Bandが生演奏で盛り上げます。クラスとは違い、踊る相手は１セットごとに参加者一人一人が決めていきます。一般のお客さんもいらっしゃいますので、色々な人に声をかけて楽しみましょう！参加人数も国内最大級です！</p>
                    </div>
                </div>

              <!-- カード2 パレード -->
                <div class="col-md-6 col-sm-6 col-xs-12 speakers-item">
                    <div href="" class="speakers-link" data-toggle="modal">
                        <img src="../css/2017_style/img/parade_01.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="speakers-caption">
                        <h4>3/17: 表参道パレード Parade By INJ</h4>
                        <p class="text-muted">本年度も、表参道にて2019年3月17日に開催予定のアイリッシュネットワークジャパン東京主催のセントパトリックスデー・パレード東京にICFとして参加する予定です！</p>
                        <p class="text-muted">セントパトリックスデーとは、アイルランドにキリスト教を広めた聖パトリックの命日3月17日のこと。アイルランドでは国を挙げて祝われる祝日になっています。 日本でも例年、各地でこのセントパトリックスデーの付近でパレードが開催され祝われています。 </p>
                        <p class="text-muted">皆さんもアイルランドを象徴する緑色のものを身につけて楽しみましょう！パレードについてはその主催者である<a href="https://www.inj.or.jp/event/%E7%AC%AC27%E5%9B%9E%E6%9D%B1%E4%BA%AC%E3%82%BB%E3%83%B3%E3%83%88%E3%83%91%E3%83%88%E3%83%AA%E3%83%83%E3%82%AF%E3%82%B9%E3%83%87%E3%83%BC%E3%83%91%E3%83%AC%E3%83%BC%E3%83%89-2019%E5%B9%B43%E6%9C%8817%E6%97%A5%E9%96%8B%E5%82%AC%E4%BA%88%E5%AE%9A%E8%A8%88%E7%94%BB%E4%B8%AD">INJ（Irish Network Japan）のイベントページ</a>もご覧ください。</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
