<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">第10回ICF</h2>
                </div>
            </div>
            <div class="row container">

              <div>
                <p>ICF(Intercollegiate Celtic Festival)、記念すべき第10回！</p>
                <p>ICFはアイルランド伝統音楽・ダンスを愛好する学生のための日本最大級のイベントです。全国各地の学生が東京に集結し、楽器やダンスの講座・交流会や全体でのセッションなどを通して交流します。</p>
                <p></p>
                <p>申し込みを開始しました！PassMarket上で申し込み・お支払をお願いいたします。下のボタンをクリックしてください！</p>
                <p>主催: 第10回ICF実行委員会</p>

                <center><a href="https://passmarket.yahoo.co.jp/event/show/detail/01g8nizyu49a.html" class="page-scroll btn btn-xl register-button">学生料金お申し込み(PassMarket)</a></center>
                <center><a href="https://passmarket.yahoo.co.jp/event/show/detail/01n33szyzw8u.html" class="page-scroll btn btn-xl register-button">一般料金お申し込み(PassMarket)</a></center>
              </div>

                 {% include 2017_data/social.html %}

            </div>
        </div>
    </section>
