<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">第11回ICF 春の陣</h2>
                </div>
            </div>
            <div class="row container">

              <div>
                <p>ICFはアイルランド伝統音楽・ダンスを愛好する学生のための日本最大級のイベントです。全国各地の学生が東京に集結し、楽器やダンスの講座・交流会や全体でのセッションなどを通して交流します。</p>
                <p>今年度のICFは、夏と春の2回開催。<br>
                    「はじめてのアイリッシュ」というお題で開催した夏の陣は初心者向けの内容でしたが、春の陣では少しステップアップした内容をたくさん盛り込んでいます。奮ってご参加ください！<br>
                    </p>
                <p>主催: 第11回ICF実行委員会</p>

              </div>

                 {% include 2017_data/social.html %}

            </div>
        </div>
    </section>
