<!-- Portfolio Grid Section -->
    <section id="program" class="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted">ICF期間中のプログラム一覧です。</h3>
                </div>
            </div>


    <div class="event black-frame">
                        {% for day in site.data.schedule %}
      <h2>{{day.title}} | {{day.date}}</h2>
        <table class="agenda">
            <thead>
            <tr>
                <th class="row-1 agenda-activity"><center>時間</center></th>
                <th class="row-1 agenda-activity"><center>項目</center></th>
                <th class="row-2 agenda-time"><center>説明</center></th>
            </tr>
            </thead>
            {% for event in day.events %}
            <tr>
              <td>{{ event.date }}</td>
              {% if event.hover %}
                <td><a href="#{{ event.hover }}" data-toggle="modal" data-target="#{{ event.hover }}">{{ event.title }}</a></td>
              {% elsif event.href %}
                <td><a href="{{ event.href }}">{{event.title}}</a></td>
              {% else %}
                <td>{{event.title}}</td>
              {% endif %}
              <td>{{ event.description }}</td>
            </tr>
            {% endfor %}
        </table>
      {% endfor %}


      <h2>宿泊に関する注意事項</h2>
      <p>2020/3月10,11,12日の夜にオリンピックセンターに宿泊することができます。</p>
      <p>なお宿泊のお部屋数に限りがございます。宿泊に関しては先着で受付致しますので、ご希望の方はお早めにお申し込みください。</p>
    </div>

                   </div>


            </div>
        </div>
    </section>
