<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ficfirish%2F&width=300&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId" width="300" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<div>
<a class="twitter-follow-button" href="https://twitter.com/icf_shamrock"
                                 data-size="large"> Follow @ICF_Shamrock</a>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" 
  data-show-count="false" data-size="large"
  data-text="ICF - Intercollegiate Celtic Festival">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
