<!-- Clients Aside -->
    <aside class="clients" style="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                    <p>下記団体の方に助成、後援、協力をいただいています。</p>
                    <p>助成</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <a href="https://celtnofue.com/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/CNF.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://comhaltas.jp/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/CCE.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>後援団体</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.inj.or.jp/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/INJ.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.dfa.ie/irish-embassy/japan/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/EMB.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://note.com/johiroshi/circle" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/ASOT.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>協力</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-6">
                    <a href="http://toyota-ceiliband.com/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/TCB.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>

        </div>
    </aside>
