<!DOCTYPE html>
<html>

    <style type="text/css">
     /*INCLUDE MAIN CSS FILE*/
        {% capture criticalcss %}
         {% include /2016_css/critical.scss %}
        {% endcapture %}
        {{ criticalcss | scssify }}
    </style>

  {% include 2017_data/head.html %}

    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
      <div class="filter">
        <div class="container intro-container">
            <div class="intro-text">
                <div class="intro-heading">ICF 13th<br></div>
                <div class="intro-lead-in">2022.3.10(Thu)-12(Sat)</div>
                <div class="intro-lead-in">国立オリンピック記念青少年総合センター</div>
            </div>
        </div>
      </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/beginner.html %}
    {% include 2017_data/program.html %}
    {% include 2017_data/classes.html %}
    {% include 2017_data/events.html %}
    {% include 2017_data/lecturers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/news.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/classes_info.html %}
    {% include 2017_data/events_info.html %}
    {% include 2016_data/js.html %}
    {% include 2017_data/classes_info_loader.html %}

    </body>
</html>
