<!DOCTYPE html>
<html>

    <style type="text/css">
     /*INCLUDE MAIN CSS FILE*/
        {% capture criticalcss %}
         {% include /2016_css/critical.scss %}
        {% endcapture %}
        {{ criticalcss | scssify }}
    </style>

  {% include 2017_data/head.html %}

    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
      <div class="filter">
        <div class="container intro-container">
            <div class="intro-text">
                <div class="intro-heading">ICF 2021<br>Online</div>
                <div class="intro-lead-in">2021.3.19(Fri)-21(Sun)</div>
                <div class="intro-lead-in">(2021.2.24~動画配信)</div>
                <a href="#intro" class="page-scroll btn btn-xl">詳細</a>
                <p class="large">passmarketによるお申し込みは<s>こちら</s>coming soon
                <br>締め切りは2020/2/20(Sun)です</p>
                <p>12回目となる今年度のICFは、オンライン上で行います。</p>
                <p></p>
            </div>
        </div>
      </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/beginner.html %}
    {% include 2017_data/program.html %}
    {% include 2017_data/classes.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/news.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/classes_info.html %}
    {% include 2017_data/events_info.html %}
    {% include 2016_data/js.html %}
    {% include 2017_data/classes_info_loader.html %}

    </body>
</html>
