<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}

    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
      <div class="filter">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">ICF 10th<br></div>
                <div class="intro-lead-in">2019.3.11(Mon)-13(Wed)</div>
                <div class="intro-lead-in">国立オリンピック記念青少年総合センター</div>
                <a href="#intro" class="page-scroll btn btn-xl">詳細</a>
            </div>
        </div>
      </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/classes.html %}
    {% include 2017_data/events.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/news.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/classes_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
